<h1>All dogs</h1>

<table>
  <thead>
    <tr>
    <% @dogs.first.attributes.each do |key, value| %>
      <% unless key == 'updated_at' || key == 'created_at' %>
        <th><%= key.capitalize %></th>
      <% end %>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @dogs.order(:name).each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= link_to dog.name, dog %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.age %></td>
        <td><%= dog.owner.try(:name) %> </td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Delete', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a new dog', new_dog_path %>