<h1>Details for <%= @dog.name %></h1>

<% @dog.attributes.each do |key, value| %>
  <% unless key == 'name' %>
    <p>
      <strong><%= key.capitalize %>: </strong>
      <%= (key == 'created_at' || key == 'updated_at') ? value.stamp("December 21, 1985 12:05 am") : value %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Home', dogs_path %>
<%= link_to 'Edit', edit_dog_path(@dog) %>